# Ejercicios Pandas. Reto 5

## Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv,contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los a√±os 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:

### 1. Generar un DataFrame con los datos de los cuatro ficheros.

In [6]:
import pandas as pd

# Lista de nombres de los archivos
archivos = ['/Users/Paco/Desktop/emisiones/emisiones-2016.csv', '/Users/Paco/Desktop/emisiones/emisiones-2017.csv', '/Users/Paco/Desktop/emisiones/emisiones-2018.csv', '/Users/Paco/Desktop/emisiones/emisiones-2019.csv']

# Lista para almacenar los DataFrames de cada archivo
dataframes = []


# Leer cada archivo CSV con separaci√≥n por punto y coma (;) y a√±adirlo al DataFrame
for archivo in archivos:
    df = pd.read_csv(archivo, sep=';')
    dataframes.append(df)

# Concatenar los DataFrames en uno solo
df_final = pd.concat(dataframes)

# Mostrar el DataFrame resultante
df_final

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,D01,V01,D02,...,D27,V27,D28,V28,D29,V29,D30,V30,D31,V31
0,28,79,4,1,28079004_1_38,2016,1,8.0,V,7.0,...,9.0,V,7.0,V,8.0,V,9.0,V,9.0,V
1,28,79,4,1,28079004_1_38,2016,2,12.0,V,13.0,...,7.0,V,8.0,V,9.0,V,0.0,N,0.0,N
2,28,79,4,1,28079004_1_38,2016,3,11.0,V,10.0,...,8.0,V,7.0,V,8.0,V,10.0,V,8.0,V
3,28,79,4,1,28079004_1_38,2016,4,8.0,V,9.0,...,9.0,V,8.0,V,8.0,V,8.0,V,0.0,N
4,28,79,4,1,28079004_1_38,2016,5,7.0,V,8.0,...,7.0,V,7.0,V,7.0,V,7.0,V,7.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,28079060_14_6,2019,8,94.0,V,104.0,...,88.0,V,90.0,V,99.0,V,108.0,V,98.0,V
1832,28,79,60,14,28079060_14_6,2019,9,88.0,V,82.0,...,54.0,V,68.0,V,70.0,V,55.0,V,0.0,N
1833,28,79,60,14,28079060_14_6,2019,10,44.0,V,75.0,...,28.0,V,33.0,V,16.0,V,19.0,V,47.0,V
1834,28,79,60,14,28079060_14_6,2019,11,41.0,V,55.0,...,55.0,V,52.0,V,47.0,V,56.0,V,0.0,N
1835,28,79,60,14,28079060_14_6,2019,12,47.0,V,53.0,...,17.0,V,13.0,V,14.0,V,5.0,V,4.0,V

### 2. Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, A√ëO, MES y las correspondientes a los d√≠as D01, D02, etc.

In [7]:
# Filtrar las columnas requeridas
# Se utiliza la funcion 'startwith' para indentificar las columnas de los dias y luego se a√±ade a las columnas requeridas 
columnas_dias = [col for col in df_final.columns if col.startswith('D')]
columnas_requeridas = ['ESTACION', 'MAGNITUD', 'ANO', 'MES'] + columnas_dias
df_filtrado = df_final.filter(items=columnas_requeridas)

# Mostrar el DataFrame resultante
df_filtrado

,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,D05,D06,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,4,1,2016,1,8.0,7.0,6.0,6.0,7.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,4,1,2016,2,12.0,13.0,9.0,9.0,11.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,4,1,2016,3,11.0,10.0,9.0,9.0,7.0,8.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,4,1,2016,4,8.0,9.0,9.0,8.0,8.0,9.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,4,1,2016,5,7.0,8.0,9.0,9.0,8.0,8.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,60,14,2019,8,94.0,104.0,106.0,99.0,77.0,82.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,60,14,2019,9,88.0,82.0,80.0,92.0,79.0,75.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,60,14,2019,10,44.0,75.0,44.0,54.0,65.0,68.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,60,14,2019,11,41.0,55.0,79.0,65.0,64.0,51.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,60,14,2019,12,47.0,53.0,45.0,44.0,49.0,41.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

### 3. Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los d√≠as aparezcan en una √∫nica columna.

In [40]:
# Utilizamos la funci√≥n melt() para reestructurar el DataFrame. Esto permite crear una unica columna DIA y VALOR (var_name y value_name).
df_reestructurado = df_filtrado.melt(id_vars=['ESTACION', 'MAGNITUD', 'ANO', 'MES'],
                                     var_name='DIA',
                                     value_name='VALOR')

# Mostrar el DataFrame resultante
df_reestructurado

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              4         1  2016    1  D01    8.0
1              4         1  2016    2  D01   12.0
2              4         1  2016    3  D01   11.0
3              4         1  2016    4  D01    8.0
4              4         1  2016    5  D01    7.0
...          ...       ...   ...  ...  ...    ...
225241        60        14  2019    8  D31   98.0
225242        60        14  2019    9  D31    0.0
225243        60        14  2019   10  D31   47.0
225244        60        14  2019   11  D31    0.0
225245        60        14  2019   12  D31    4.0

[225246 rows x 6 columns]

### 4. A√±adir una columna con la fecha a partir de la concatenaci√≥n del a√±o, el mes y el d√≠a (usar el m√≥dulo datetime).

In [9]:
# Importamos numpy y datetime para concatenar la fecha a partir de las columnas ANO MES DIA. Para la columna dia, tenemos que obviar la letra 'D'.

import numpy as np
from datetime import datetime

df_reestructurado['FECHA'] = pd.to_datetime(df_reestructurado['ANO'].astype(str) +
                                            df_reestructurado['MES'].astype(str).str.zfill(2) +
                                            df_reestructurado['DIA'].str[1:].str.zfill(2),
                                            format='%Y%m%d')


df_reestructurado

#**ERROR ALGUNOS DIAS ESTAN FUERA DE RANGO***

ValueError: day is out of range for month

In [10]:
# Creo una funcion para intentar solucionar el error.
def generar_fecha(row):
    year = int(row['ANO'])
    month = int(row['MES'])
    day = int(row['DIA'][1:])
    if day <= 0 or day > 31:
        return None
    date = datetime(year=year, month=month, day=day)
    return date.strftime('%Y-%m-%d')


df_reestructurado['FECHA'] = df_reestructurado.apply(generar_fecha, axis=1)


print(df_reestructurado)

#**OTRO INTENTO, ERROR ALGUNOS DIAS ESTAN FUERA DE RANGO***

ValueError: day is out of range for month

In [60]:
# Con esta funcion y el try and except elimino el error dandole un Valor None a las casillas que no identifica los dias.
def generar_fecha(row):
    year = int(row['ANO'])
    month = int(row['MES'])
    day = int(row['DIA'][1:])
    try:
        date = datetime(year=year, month=month, day=day)
        return date.strftime('%Y-%m-%d')
    except ValueError:
        return None


df_reestructurado['FECHA'] = df_reestructurado.apply(generar_fecha, axis=1)


df_reestructurado

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR       FECHA
0              4         1  2016    1  D01    8.0  2016-01-01
1              4         1  2016    2  D01   12.0  2016-02-01
2              4         1  2016    3  D01   11.0  2016-03-01
3              4         1  2016    4  D01    8.0  2016-04-01
4              4         1  2016    5  D01    7.0  2016-05-01
...          ...       ...   ...  ...  ...    ...         ...
225241        60        14  2019    8  D31   98.0  2019-08-31
225242        60        14  2019    9  D31    0.0        None
225243        60        14  2019   10  D31   47.0  2019-10-31
225244        60        14  2019   11  D31    0.0        None
225245        60        14  2019   12  D31    4.0  2019-12-31

[225246 rows x 7 columns]

### 5. Eliminar las filas con fechas no v√°lidas (utilizar la funci√≥n isnat del m√≥dulo numpy) y ordenar el DataFrame por estaciones contaminantes y fecha.

In [61]:
#Realizar la conversi√≥n a datetime, puedes hacerlo utilizando pd.to_datetime:

df_reestructurado['FECHA'] = pd.to_datetime(df_reestructurado['FECHA'])

In [65]:
# Eliminar filas con fechas no v√°lidas con 'isnat'.
df_reestructurado = df_reestructurado[~np.isnat(df_reestructurado['FECHA'])]


df_reestructurado

#

        ESTACION  MAGNITUD   ANO  MES  DIA  VALOR      FECHA
0              4         1  2016    1  D01    8.0 2016-01-01
12             4         6  2016    1  D01    0.4 2016-01-01
24             4         7  2016    1  D01   28.0 2016-01-01
36             4         8  2016    1  D01   40.0 2016-01-01
48             4        12  2016    1  D01   83.0 2016-01-01
...          ...       ...   ...  ...  ...    ...        ...
225197        60         7  2019   12  D31   77.0 2019-12-31
225209        60         8  2019   12  D31   83.0 2019-12-31
225221        60        10  2019   12  D31   25.0 2019-12-31
225233        60        12  2019   12  D31  202.0 2019-12-31
225245        60        14  2019   12  D31    4.0 2019-12-31

[221158 rows x 7 columns]

### 6. Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.

In [14]:
# Obtener valores √∫nicos de estaciones y contaminantes
estaciones = df_reestructurado['ESTACION'].unique()
contaminantes = df_reestructurado['MAGNITUD'].unique()

# Mostrar por pantalla las estaciones y los contaminantes
print("Estaciones disponibles:")
for estacion in estaciones:
    print(estacion)

print("\nContaminantes disponibles:")
for contaminante in contaminantes:
    print(contaminante)

Estaciones disponibles:
4
8
11
16
17
18
24
27
35
36
38
39
40
47
48
49
50
54
55
56
57
58
59
60

Contaminantes disponibles:
1
6
7
8
12
9
10
14
20
30
35
42
43
44

### 7. Crear una funci√≥n que reciba una estaci√≥n, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estaci√≥n y rango de fechas dado.

In [18]:
# Crea una fundion
def obtener_emisiones(estacion, contaminante, fecha_inicio, fecha_fin):
    filtro = (df_reestructurado['ESTACION'] == estacion) & \
             (df_reestructurado['MAGNITUD'] == contaminante) & \
             (df_reestructurado['FECHA'].between(fecha_inicio, fecha_fin))
    emisiones = df_reestructurado.loc[filtro, 'VALOR']
    return emisiones

Se pedir√° que ingreses el n√∫mero de la estaci√≥n, el n√∫mero del contaminante, la fecha de inicio y la fecha de fin. Aseg√∫rate de ingresar los valores correctamente en el formato solicitado.

In [19]:
#Se pedir√° que ingreses el n√∫mero de la estaci√≥n, el n√∫mero del contaminante, la fecha de inicio y la fecha de fin. 
#Aseg√∫rate de ingresar los valores correctamente en el formato solicitado. 

estacion = input("Ingrese el n√∫mero de la estaci√≥n: ")
contaminante = input("Ingrese el n√∫mero del contaminante: ")
fecha_inicio = input("Ingrese la fecha de inicio (formato YYYY-MM-DD): ")
fecha_fin = input("Ingrese la fecha de fin (formato YYYY-MM-DD): ")

#La funci√≥n obtener_emisiones se llamar√° con los valores proporcionados y se mostrar√° la serie resultante de emisiones

serie_emisiones = obtener_emisiones(int(estacion), int(contaminante), fecha_inicio, fecha_fin)
print(serie_emisiones)

0          8.0
7266       7.0
14532      6.0
21798      6.0
29064      7.0
          ...
188927    17.0
196193    13.0
203459    13.0
210725    12.0
217991     7.0
Name: VALOR, Length: 366, dtype: float64

### 8. Mostrar un resumen descriptivo (m√≠nimo, m√°ximo, media, etc.) para cada contaminante.

In [20]:
# Se usa la funcion '.describe() junto a la funcion '.groupby()'

resumen_contaminantes = df_reestructurado.groupby('MAGNITUD')['VALOR'].describe()
print(resumen_contaminantes)

            count       mean         std   min    25%    50%    75%       max
MAGNITUD
1         14610.0   7.428953    7.012504  0.00   4.00   7.00  10.00    610.00
6         14610.0   0.350233    0.215935  0.00   0.20   0.30   0.40     14.90
7         35064.0  20.446412  135.123509  0.00   4.00   9.00  23.00  24742.00
8         35064.0  37.677618   20.118050  0.00  22.00  35.00  50.00    148.00
9          8948.0  10.087729   10.643591  0.00   6.00   9.00  13.00    850.00
10        17897.0  18.772923   35.723619  0.00  10.00  16.00  24.00   4481.00
12        35064.0  67.959417   61.443940  0.00  29.00  48.00  84.00   1005.00
14        20454.0  49.941772   24.753120  0.00  31.00  52.00  69.00    336.00
20         8766.0   2.364944    4.236706  0.00   0.80   1.60   2.80    195.00
30         8766.0   0.531371    0.538180  0.00   0.20   0.40   0.70     15.10
35         8766.0   0.479751    1.183618  0.00   0.10   0.20   0.50     35.70
42         4383.0   1.400897    0.251836 -0.01   1.25   1.38   1.54      3.09
43         4383.0   1.292923    0.230898 -0.14   1.17   1.28   1.43      2.77
44         4383.0   0.108941    0.068776  0.00   0.06   0.10   0.14      1.31

### 9. Mostrar un resumen descriptivo para cada contaminante por distritos.

In [42]:
# Creo otro DataFrame parecido al del ejercicio dos para filtrar las columnas requeridas

# ESTACION Y MAGNITUD REHACER!!!!!

columnas_requeridas2 = ['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'ANO', 'MES'] + columnas_dias
df_filtrado2 = df_final.filter(items=columnas_requeridas2)

df_filtrado2

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,ANO,MES,D01,D02,D03,D04,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,28,79,4,1,2016,1,8.0,7.0,6.0,6.0,...,10.0,11.0,11.0,13.0,12.0,9.0,7.0,8.0,9.0,9.0
1,28,79,4,1,2016,2,12.0,13.0,9.0,9.0,...,11.0,10.0,9.0,8.0,7.0,7.0,8.0,9.0,0.0,0.0
2,28,79,4,1,2016,3,11.0,10.0,9.0,9.0,...,8.0,8.0,9.0,9.0,9.0,8.0,7.0,8.0,10.0,8.0
3,28,79,4,1,2016,4,8.0,9.0,9.0,8.0,...,8.0,8.0,8.0,8.0,9.0,9.0,8.0,8.0,8.0,0.0
4,28,79,4,1,2016,5,7.0,8.0,9.0,9.0,...,7.0,7.0,8.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,28,79,60,14,2019,8,94.0,104.0,106.0,99.0,...,86.0,97.0,104.0,96.0,85.0,88.0,90.0,99.0,108.0,98.0
1832,28,79,60,14,2019,9,88.0,82.0,80.0,92.0,...,59.0,46.0,49.0,69.0,57.0,54.0,68.0,70.0,55.0,0.0
1833,28,79,60,14,2019,10,44.0,75.0,44.0,54.0,...,37.0,39.0,45.0,21.0,23.0,28.0,33.0,16.0,19.0,47.0
1834,28,79,60,14,2019,11,41.0,55.0,79.0,65.0,...,38.0,75.0,69.0,45.0,35.0,55.0,52.0,47.0,56.0,0.0
1835,28,79,60,14,2019,12,47.0,53.0,45.0,44.0,...,68.0,36.0,9.0,11.0,10.0,17.0,13.0,14.0,5.0,4.0

In [44]:
# Reestructuro como en el ejercicio 3

df_reestructurado2 = df_filtrado2.melt(id_vars=['PROVINCIA', 'MUNICIPIO', 'ESTACION', 'MAGNITUD', 'ANO', 'MES'],
                                     var_name='DIA',
                                     value_name='VALOR')


df_reestructurado2

        PROVINCIA  MUNICIPIO  ESTACION  MAGNITUD   ANO  MES  DIA  VALOR
0              28         79         4         1  2016    1  D01    8.0
1              28         79         4         1  2016    2  D01   12.0
2              28         79         4         1  2016    3  D01   11.0
3              28         79         4         1  2016    4  D01    8.0
4              28         79         4         1  2016    5  D01    7.0
...           ...        ...       ...       ...   ...  ...  ...    ...
225241         28         79        60        14  2019    8  D31   98.0
225242         28         79        60        14  2019    9  D31    0.0
225243         28         79        60        14  2019   10  D31   47.0
225244         28         79        60        14  2019   11  D31    0.0
225245         28         79        60        14  2019   12  D31    4.0

[225246 rows x 8 columns]

In [45]:
# Se usa la funcion '.describe() junto a la funcion '.groupby()' como en el ejercio 8.

resumen_contaminantes2 = df_reestructurado2.groupby('PROVINCIA')['VALOR'].describe()
print(resumen_contaminantes2)

#Este ejemplo lo he hecho pensando que los distritos son las provincias y el contaminante es la columna VALOR

              count       mean        std   min   25%   50%   75%      max
PROVINCIA
28         225246.0  26.745318  64.888695 -0.14  1.69  13.0  39.0  24742.0

In [46]:
resumen_contaminantes3 = df_reestructurado2.groupby('MUNICIPIO')['VALOR'].describe()
print(resumen_contaminantes3)

#Este ejemplo lo he hecho pensando que los distritos son los municipios y el contaminante es la columna VALOR

              count       mean        std   min   25%   50%   75%      max
MUNICIPIO
79         225246.0  26.745318  64.888695 -0.14  1.69  13.0  39.0  24742.0

### 10. Crear una funci√≥n que reciba una estaci√≥n y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estaci√≥n indicada.

In [ ]:
#Primero muestrame los contaminantes 

contaminantes = df_reestructurado2['MAGNITUD'].unique()
print(contaminantes)

In [ ]:
#Muestrame los diferentes estaciones

estaciones = df_reestructurado2['ESTACION'].unique()
print(estaciones)

In [ ]:
#  Funci√≥n que reciba una estaci√≥n y un contaminante

def resumen_emisiones_estacion(df, estacion, contaminante):
    df_estacion_contaminante = df[(df['ESTACION'] == estacion) & (df['MAGNITUD'] == contaminante)]
    resumen = df_estacion_contaminante['VALOR'].describe()
    return resumen

# Imput para ingresar estacion y contaminante
estacion = int(input("Ingrese el n√∫mero de estaci√≥n: "))
contaminante = int(input("Ingrese el n√∫mero de contaminante: "))

# Obtener el resumen descriptivo de las emisiones
resumen = resumen_emisiones_estacion(df_reestructurado2, estacion, contaminante)
print(resumen)

### 11. Crear una funci√≥n que devuelva las emisiones medias mensuales de un contaminante y un a√±o dados para todos las estaciones.

In [ ]:
#Primero muestrame los contaminantes 

contaminantes = df_reestructurado2['MAGNITUD'].unique()
print(contaminantes)

In [ ]:
# Muestrame los a√±os

years = df_reestructurado2['ANO'].unique()
print(years)

In [53]:
def emisiones_medias_mensuales(df, contaminante, a√±o):
    df_filtrado = df[(df['MAGNITUD'] == contaminante) & (df['ANO'] == a√±o)]
    emisiones_medias = df_filtrado.groupby(['ESTACION', 'MES'])['VALOR'].mean()
    return emisiones_medias

contaminante = int(input("Ingrese el n√∫mero de contaminante: "))
a√±o = int(input("Ingrese el a√±o: "))

# Obtener las emisiones medias mensuales
emisiones_medias = emisiones_medias_mensuales(df_reestructurado2, contaminante, a√±o)
emisiones_medias

Ingrese el n√∫mero de contaminante: 1
Ingrese el a√±o: 2016

ESTACION  MES
4         1       8.354839
          2       8.000000
          3       8.612903
          4       7.806452
          5       7.354839
                   ...
57        8       3.129032
          9       4.548387
          10      7.451613
          11      9.322581
          12     15.709677
Name: VALOR, Length: 120, dtype: float64

### 12. Crear un funci√≥n que reciba una estaci√≥n de medici√≥n y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.

In [55]:
#Muestrame las diferentes estaciones

estaciones = df_reestructurado2['ESTACION'].unique()
print(estaciones)

[ 4  8 11 16 17 18 24 27 35 36 38 39 40 47 48 49 50 54 55 56 57 58 59 60]

In [54]:
#Crear la funcion 

def medias_mensuales_contaminantes(df, estacion):
    df_estacion = df[df['ESTACION'] == estacion]
    medias_mensuales = df_estacion.groupby(['MAGNITUD', 'MES'])['VALOR'].mean()
    df_medias_mensuales = medias_mensuales.unstack(level=0)
    return df_medias_mensuales

#Imput para ingresar la estacion
estacion = int(input("Ingrese el n√∫mero de estaci√≥n: "))

# Obtener el DataFrame con las medias mensuales de los contaminantes
df_medias_mensuales = medias_mensuales_contaminantes(df_reestructurado2, estacion)
print(df_medias_mensuales)

Ingrese el n√∫mero de estaci√≥n: 4
MAGNITUD         1         6          7          8           12
MES
1          8.943548  0.539516  61.540323  52.032258  146.354839
2          7.895161  0.429839  39.088710  45.104839  105.024194
3          7.629032  0.389516  22.911290  40.411290   75.540323
4          4.209677  0.366935  16.080645  36.669355   61.250000
5          4.016129  0.335484  12.975806  36.774194   56.556452
6          3.943548  0.301613  12.806452  38.346774   57.911290
7          5.629032  0.295968  11.435484  39.685484   57.282258
8          7.104839  0.306452   9.645161  37.145161   52.008065
9          7.637097  0.371774  23.887097  48.064516   84.669355
10        13.379032  0.472581  47.233871  51.314516  123.717742
11         7.629032  0.464516  46.419355  44.725806  115.838710
12         8.346774  0.574194  72.298387  52.838710  163.620968